# Core Data Science and ML Libraries
pandas
numpy
scikit-learn
xgboost
matplotlib
seaborn

# Notebook Envioremnt
jupyterlab

# Cloud Interaction 
google-cloud-storage
gcsfs

# Qualty and Testing
pytest
pytest-cov
